.container{
  width: 450px;
  border-radius: .5rem;
  border: 3px solid grey;
  background-color: #a8c64e;
  display: flex;
  margin: 5px;
  direction: rtl;
  overflow-x: overlay;
}

.container::-webkit-scrollbar {
  height: 10px;
  background-color: #a8c64e;
}

.container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 1.25rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.value{
  color: #3c412c;
  font-size: 60px;
  font-family: Digital;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  direction: ltr;
}